@import '../App.css';
@import '../style/Varibles.scss';

.hosts{
    padding: 36.5px 0px;
    .hosts-top-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 0px 30px 0px;
        .hosts-top-col{
            .hosts-heading{
                @include heading-first;
                @include xl{
                    min-width: 700px;
                }
                @include xmd{
                    min-width: 400px;
                }
                @include sm{
                    min-width: 200px;
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .hosts-top-col{
            .hosts-btn{
                @include view-btn;
                @include sm{
                    font-size: 14px;
                    line-height: 14px;
                    padding: 8px 10px;
                }
            }
        }
    }
    .hosts-bottom-wrapper{
        position: relative;
        .hosts-bottom-col{
            .host-content-main{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
                border-radius: 6px;
                background: #202C47;
                border: 1px solid #3F4E72;
                padding: 42px 0px 40px 0px;
                max-width: 256px;
                width: 100%;
                overflow: hidden;
                position: relative;
                .hosts-image-part{
                    max-width: 93px;
                    height: 93px;
                    width: 100%;
                    overflow: hidden;
                    margin: 0 auto;
                    .personelogo-img{
                        max-width: 93px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        border: 1px solid #353945;
                        border-radius: 100%;
                        background-color: white;
                    }
                }
                .account-persone-name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 18px 0px 27px 0px;
                    .ac-name{
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FAE8DC;
                        margin-bottom: 2px;
                    }
                    .ac-follower{
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 17px;
                        color: #FCFCFD;
                    }
                }
                .hosts-btn-part{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .follow-btn{
                        @include follow-btn;
                        @include md {
                            padding: 10px 10px;
                            font-size: 14px;
                        }
                    }
                }
                .hosts-overlay{
                    .host-first-desigen{
                        background: linear-gradient(142.83deg, rgba(12, 253, 228, 0.4) 23.01%, rgba(12, 253, 228, 0) 69.85%);
                        filter: blur(4px);
                        transform: rotate(169.01deg);
                        width: 53.22px;
                        height: 68.13px;
                        border-radius: 50%;
                        position: absolute;
                        top: -15.6px;
                        left: 13.79px;
                    }
                    .host-second-desigen{
                        background: linear-gradient(146.24deg, rgba(12, 253, 228, 0.5) 11.87%, rgba(12, 253, 228, 0) 73.22%);
                        filter: blur(4px);
                        transform: rotate(-26.56deg);
                        border-radius: 50%;
                        width: 60.62px;
                        height: 48.3px;
                        position: absolute;
                        top: 26.27px;
                        left: -8.22px;
                    }
                }
            }
        }
        .custom-rightarrow{
            display: inline;
            border: 1.5px solid #0CFDE4;
            border-radius: 100%;
            padding: 16.5px 14.56px;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: 54%;
            svg{
                display: inline;
                // position: absolute;
                // right: 0;
                // top: 45%;
                // bottom: 0;
                // border: 1px solid white;
                // padding: 16.5px 14.56px;
            }
        }
    }
    // .slick-slide.slick-active:last-child{
    //     padding-right: 0px;
        
    // }


    .slick-arrow.slick-prev::before{
        display: none;
    }
    .slick-arrow.slick-next::before{
        font-size: 50px;
    }
    .slick-arrow.slick-next{
        right: 27px;
        bottom: 0;
        top: 34%;
        z-index: 1;
        /* padding: 25px; */
        opacity: 0;
    }
    .slick-list{
        max-height: 419px;
        @include lg {
            max-height: 500px;
        }
        @include sm {
            max-height: 600px;
            height: 100%;
        }
    }
}